/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1E3A8A;      
  --color-secondary: #4F46E5;    
  --color-accent: #080808;       
  --color-background: #F3F4F6;   
}

/* Apply global font directly */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background);
  color: #1F2937; /* Tailwind's gray-800 */
}

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
